#eventDisplay {
  background-color: var(--dark);
  color: white;
}

#calendar * {box-sizing: border-box;}
ul {list-style-type: none;}
.pointer {cursor: pointer;}
.month {
  padding: 70px 25px;
  width: 100%;
  background: #121212;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month #prev {
  float: left;
  padding-top: 10px;
}

.month #next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  width: 100%;
}

.days > tr:nth-child(odd) {
  background-color: #eee;
}

th, td {
  padding: 1rem;
  text-align: center;
}

td.event > span {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #1abc9c;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .6;
  transform: translate(-50%, -50%);
}

td.active {
  background: yellow;
}

td.event {
  /* color: white !important; */
  /* background: #1abc9c; */
  position: relative;
  cursor: pointer;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
}

@media screen and (max-width: 420px) {
}

@media screen and (max-width: 290px) {
}